<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Staff</a></li>
    <li><a ng-href="#">Login</a></li>
    <!-- logout -->
    <!-- check appointments -->
  </ul>
  <h3 class="text-muted">The Barbershop</h3>
</div>

<div class="jumbotron">
  <h1>Welcome to the barbershop!</h1>
  <p class="lead">
    <a href="http://yeoman.io/"><img src="images/yeoman.png" alt="I'm Yeoman"></a><br>
    Always a pleasure...
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Make an appointment!</a></p>
</div>

<table class='table table-striped'>
  <tr ng-repeat="barber in barbers">
    <td>{{barber.name}}</td>
  </tr>
</table>

<div class="footer">
  <p>Get a haircut!</p>
</div>